<div class="container-pink-background">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
		  <header class="content-header">
	      <h1>Back End Engineering</h1>
	    </header>
	  </div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
	    <div class="content-container">
	    	<p>
				  Back-end developers are responsible for the nuts-and-bolts programming operations that will trigger the appropriate response when a user interacts with the front-end developer’s work.  Back-end development is referred to as the “brain” behind apps and websites, determines the programming language used, and is never visible to the user.  Back-end code interacts with the server and provides the logic for all functionality.
 				</p>

 				<p>
					Back-end development typically uses languages like PHP, Ruby, and Python.  It ensures the data users input in the interface reaches, is properly stored on, and can be accessed later through the database that exists out-of-sight from the actual program, website, or application the user interacts with.  The back-end developer’s work is on the server side, but must understand the programming languages that control the ultimate display of the page.
 				</p>

				<p>
					Integration between the front-end interface and ultimate server is the primary responsibility of the back-end developer.
				</p>

				<hr />

				<h3>
					Related Skills
				</h3>
				<p>
					organizational skills, logic, problem solving
				</p>

			</div>
	  </div>
	</div>
</div>