//SASS VARIABLES

// Font Weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Colors
$black: #000000;
$white: #ffffff;
$very-light-pink: #FF71CD;
$soft-magenta: #CC67E8;
$very-light-violet: #AF7EFF;
$very-soft-blue: #B6B7E8;
$very-light-blue: #94C0FF;
$gray: #4E4E4E;

//OTHER BASE STYLES

//Container
body {
  font-family: $fixed-font-family;
  padding: 0;
  margin: 0;
  background-color: $gray;
}

a {
  color: $very-light-blue;
  &:hover {
  	text-decoration: none;
  }
  &.navbar-brand {
  	font-size: 2em;
  }
}

.row-padding {
	padding-bottom: 2%;
}