
    <div class="container">
      <div class="row">
      <div class="messages span9">
        <%= bootstrap_flash %>
      </div>
      </div>
      <div class="row">
        <%= render_breadcrumbs %>
        <%= yield %>
      </div>
    </div>