<h2>Search For a Mentor</h2>
<div class="row">
  <div class="panel panel-default col-md-8">
  <div class="panel-body">
    <% @mentors.each do |mentor| %>
        <div class="col-xs-4 col-sm-3 col-md-2">
          <%= link_to((image_tag "#{mentor.photo_url}", alt: "{mentor.last_name}", title: "#{mentor.first_name}"), "/mentor/#{mentor.id}", class: "thumbnail") %> <h4><%= mentor.first_name + " " + mentor.last_name %></h4>
        </div>
    <% end %>
  </div>
  </div>
</div>

