@import 'base/base';

.index-career-background {
	background-color: $desaturated-pink;
	padding: 3%;
	width: 100%;
}

.index-features {
	background-color: $white;
	padding: 3%;
}

.index-career-paths {
	background-color: $desaturated-violet;
	padding: 3%;
}